.hero-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  align-items: center;
}

h1{
   margin-bottom: 2.5rem;
}
.contact-btn{
  align-items: center;
  background-color: #8d3226;
  border-radius: 8px;
  box-sizing: border-box;
  color:#fff ;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 25px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  padding: 0 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;  
  border:none ;
  outline: none;
  
}


