.course-container{
     width:100% ;
     padding:5rem ;
}

.sub-container{
    border-radius: 10px;
    background-color: #fff;
    height: 400px;
    width:100% ;
    text-align: center;
    padding:20px ;
}
.box-container{
     display: flex;
     justify-content: space-around;
     margin-top: 3%;
}
.box{
    height: 200px;
    width:300px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box h2{
    margin-top: 30px;
}
.box button{
    margin-top: 50px;
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
.box:active{
     border-bottom-color:#a2a6ac;
}
.box:active:hover{
    border-bottom-color:#a2a6ac;
}
