*{
  margin:0 ;
  padding:0 ;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  height:100%;
  width: 100%;
  background-color: #ebe8ea;
  background-image:linear-gradient(315deg,#eee9ed,#e0e4e3);

}